/* lists */
.table-row ul { 
  margin: 0;
  padding: 0;
}

.tab-label {
  float: left;
  padding: 12px 0px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.tab-checked {
  background-color: var(--blue);
}

.tab-panel {
  border: 2px solid var(--blue);
  background-color: var(--light-bg);
}

.color-orange {
  margin-left: 10px;
  margin-right: 5px;
  color: var(--orange);
}

.color-green {
  margin-right: 5px;
  margin-left: 10px;  
  color: var(--green);
}

.color-yellow {
  margin-right: 5px;
  margin-left: 10px;  
  color: var(--yellow);
}