/* Variables */
:root{
  --half-spacing: 15px;
  --base-spacing: 30px;
  --dbl-spacing: 60px;

  --blue:rgba(79,192,210,1);
  --green:rgba(82,210,154,1);
  --yellow:rgba(231,196,104,0.7);
  --orange:rgba(235,118,85,1);
  --dark-bg:rgba(0,0,0,0.9);
  --light-bg:rgba(255,255,255,0.1);
  --border: #b3aca7;
  --text: #6D7781;
}

/* Rules */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--text);
  text-align: center;
  background: var(--dark-bg);
}

h2 {
  position: relative;
  color: var(--text);
  font-size: 3em;
  letter-spacing: 7px;
}

.none-padding-top     { padding-top: 0 !important; }
.none-padding-right   { padding-right: 0 !important; }
.none-padding-bottom  { padding-bottom: 0 !important; }
.none-padding-left    { padding-left: 0 !important; }

.half-padding-top     { padding-top: var(--half-spacing) !important; }
.half-padding-right   { padding-right: var(--half-spacing) !important; }
.half-padding-bottom  { padding-bottom: var(--half-spacing) !important; }
.half-padding-left    { padding-left: var(--half-spacing) !important; }

.base-padding-top     { padding-top: var(--base-spacing) !important; }
.base-padding-right   { padding-right: var(--base-spacing) !important; }
.base-padding-bottom  { padding-bottom: var(--base-spacing) !important; }
.base-padding-left    { padding-left: var(--base-spacing) !important; }

.dbl-padding-top     { padding-top: var(--dbl-spacing) !important; }
.dbl-padding-right   { padding-right: var(--dbl-spacing) !important; }
.dbl-padding-bottom  { padding-bottom: var(--dbl-spacing) !important; }
.dbl-padding-left    { padding-left: var(--dbl-spacing) !important; }

.none-margin-top     { margin-top: 0 !important; }
.none-margin-right   { margin-right: 0 !important; }
.none-margin-bottom  { margin-bottom: 0 !important; }
.none-margin-left    { margin-left: 0 !important; }

.half-margin-top     { margin-top: var(--half-spacing) !important; }
.half-margin-right   { margin-right: var(--half-spacing) !important; }
.half-margin-bottom  { margin-bottom: var(--half-spacing) !important; }
.half-margin-left    { margin-left: var(--half-spacing) !important; }

.base-margin-top     { margin-top: var(--base-spacing) !important; }
.base-margin-right   { margin-right: var(--base-spacing) !important; }
.base-margin-bottom  { margin-bottom: var(--base-spacing) !important; }
.base-margin-left    { margin-left: var(--base-spacing) !important; }

.dbl-margin-top     { margin-top: var(--dbl-spacing) !important; }
.dbl-margin-right   { margin-right: var(--dbl-spacing) !important; }
.dbl-margin-bottom  { margin-bottom: var(--dbl-spacing) !important; }
.dbl-margin-left    { margin-left: var(--dbl-spacing) !important; }