/* Variables */
:root{
  --half-spacing: 20px;
  --base-spacing: 30px;
  --dbl-spacing: 60px;

  --blue:rgba(79,192,210,1);
  --green:rgba(82,210,154,1);
  --yellow:rgba(231,196,104,0.7);
  --orange:rgba(235,118,85,1);
  --dark-bg:#000;
  --light-bg:rgba(255,255,255,0.1);
  --border: #b3aca7;
  /* --text: #6D7781; */
  --text: #ccc;
}

/* General Rules */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--text);
  text-align: center;
  background: var(--dark-bg);
  overflow-x: hidden;
}

h2 {
  position: relative;
  color: var(--text);
  font-size: 3em;
  letter-spacing: 7px;
}

.none-padding { padding: 0 !important; }
.none-padding-top     { padding-top: 0 !important; }
.none-padding-right   { padding-right: 0 !important; }
.none-padding-bottom  { padding-bottom: 0 !important; }
.none-padding-left    { padding-left: 0 !important; }

.half-padding-top     { padding-top: var(--half-spacing) !important; }
.half-padding-right   { padding-right: var(--half-spacing) !important; }
.half-padding-bottom  { padding-bottom: var(--half-spacing) !important; }
.half-padding-left    { padding-left: var(--half-spacing) !important; }

.base-padding-top     { padding-top: var(--base-spacing) !important; }
.base-padding-right   { padding-right: var(--base-spacing) !important; }
.base-padding-bottom  { padding-bottom: var(--base-spacing) !important; }
.base-padding-left    { padding-left: var(--base-spacing) !important; }

.dbl-padding-top     { padding-top: var(--dbl-spacing) !important; }
.dbl-padding-right   { padding-right: var(--dbl-spacing) !important; }
.dbl-padding-bottom  { padding-bottom: var(--dbl-spacing) !important; }
.dbl-padding-left    { padding-left: var(--dbl-spacing) !important; }

.none-margin { margin: 0 !important; }
.none-margin-top     { margin-top: 0 !important; }
.none-margin-right   { margin-right: 0 !important; }
.none-margin-bottom  { margin-bottom: 0 !important; }
.none-margin-left    { margin-left: 0 !important; }

.half-margin-top     { margin-top: var(--half-spacing) !important; }
.half-margin-right   { margin-right: var(--half-spacing) !important; }
.half-margin-bottom  { margin-bottom: var(--half-spacing) !important; }
.half-margin-left    { margin-left: var(--half-spacing) !important; }

.base-margin-top     { margin-top: var(--base-spacing) !important; }
.base-margin-right   { margin-right: var(--base-spacing) !important; }
.base-margin-bottom  { margin-bottom: var(--base-spacing) !important; }
.base-margin-left    { margin-left: var(--base-spacing) !important; }

.dbl-margin-top     { margin-top: var(--dbl-spacing) !important; }
.dbl-margin-right   { margin-right: var(--dbl-spacing) !important; }
.dbl-margin-bottom  { margin-bottom: var(--dbl-spacing) !important; }
.dbl-margin-left    { margin-left: var(--dbl-spacing) !important; }

.width-10 { width: 10%; }
.width-20 { width: 20%; }
.width-30 { width: 30%; }
.width-40 { width: 40%; }
.width-50 { width: 50%; }

.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }

.hidden {
  display: none;
}

/* input field */
.input-field {
  background-color: transparent;
  width: 100%;

  border: 1px solid var(--blue);
  border-bottom: none;
  border-radius: 0%;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.input-field:hover, .input-field:focus {
  color: #e2dedb;
  background: var(--light-bg);
}

.input-textarea {
  height: 300px !important;
}

.input-submit {
  cursor: pointer;
  color: var(--text);
  border-bottom: 1px solid var(--blue) !important;
}

/* button with loader icon */
.icon-loader {
  width: 10%;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-loader:hover {
  cursor: not-allowed;
}

.container-relative {
  position: relative;
}

.field-disabled {
  cursor: not-allowed !important;
  background-color: transparent;
}