/* Variables */
:root{
  --base-spacing: 30px;
  --dbl-spacing: 60px;

  --blue:rgba(79,192,210,1);
  --green:rgba(82,210,154,1);
  --yellow:rgba(231,196,104,0.7);
  --orange:rgba(235,118,85,1);
  --dark-bg:rgba(0,0,0,0.9);
  --light-bg:rgba(255,255,255,0.1);
  --border: #b3aca7;
  --text: #6D7781;
}

/* Rules */
body {
  font-family: 'Lato', sans-serif;
  background: var(--dark-bg);
  color: var(--text);
  text-align: center;
}

h2 {
  position: relative;
  color: var(--text);
  margin: 100px 0 25px 0;
  font-size: 3em;
  letter-spacing: 7px;
}

.base-padding-top     { padding-top: var(--base-spacing) !important; }
.base-padding-right   { padding-right: var(--base-spacing) !important; }
.base-padding-bottom  { padding-bottom: var(--base-spacing) !important; }
.base-padding-left    { padding-left: var(--base-spacing) !important; }

.dbl-padding-top     { padding-top: var(--dbl-spacing) !important; }
.dbl-padding-right   { padding-right: var(--dbl-spacing) !important; }
.dbl-padding-bottom  { padding-bottom: var(--dbl-spacing) !important; }
.dbl-padding-left    { padding-left: var(--dbl-spacing) !important; }

.base-margin-top     { margin-top: var(--base-spacing) !important; }
.base-margin-right   { margin-right: var(--base-spacing) !important; }
.base-margin-bottom  { margin-bottom: var(--base-spacing) !important; }
.base-margin-left    { margin-left: var(--base-spacing) !important; }

.dbl-margin-top     { margin-top: var(--dbl-spacing) !important; }
.dbl-margin-right   { margin-right: var(--dbl-spacing) !important; }
.dbl-margin-bottom  { margin-bottom: var(--dbl-spacing) !important; }
.dbl-margin-left    { margin-left: var(--dbl-spacing) !important; }