.home-title {
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.home-title.short {
  border-bottom: 1px solid #fff;
}

.home-title span {
  display: inline-block;
  float: left;
  font-weight: 700;
  color: #fff;
  opacity: 1;
  transition: all 2s ease-in-out;
  max-width: 2em;
}
.home-title.short span.spaced {
  padding-left: 0;
}
.home-title span.spaced {
  padding-left: 0.5em;
}

.home-title.short span.ghost {
  opacity: 0;
  max-width: 0;
}

.home-menu {
  opacity: 0;
  transition: opacity 2s linear;  
}

.home-menu a{
  text-decoration: none;
  font-size: 28px !important;
  color: #6D7781 !important;
  border-bottom: 1px solid #6D7781; 
}

.home-menu-bar {
  color:#fff;
  font-size: 24px;
  opacity: 0;
  transition: opacity 2s linear;
}

.home-menu-bar span {
  margin-left: 10px  
}